body {
  background-color: #999999;
}

h1{text-align: center}

header{
    grid-column: span 12;
    background-color: orange;
    color: black;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

main{
grid-column: span 12;
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}

.me{
  grid-column: span 8;
  width: 800px;
  display: block;
  margin-top: -500px;
}

.you{
  grid-column: span 12;
  width: 300px;
}

nav{
  grid-column: span 4;
  margin-top: -500px;
}

nav ul{
list-style: none;
}

nav li{
list-style: none;
background-color: rgb(255, 176, 5);
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 150px;
}

nav li a{
font-size: 32px;
text-transform: uppercase;
text-decoration: none;
padding-left: 40px;
margin-bottom: 70px;
}

.Nebraska{
text-align: left;
 
}


#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px; 
}


.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

footer{
  grid-column: span 12;
  display: grid;
  background-color: orange;
  padding: 70px;
 font-size: 40px;
}