

h1 {

    color: rgb(255, 94, 0); 
    background-color: rgb(17, 31, 231); 
}

h2 {
color: rgb(255, 52, 2); 
    background-color: rgb(40, 5, 236); 

}

h3{
color:rgb(2, 255, 36);
}
.basicinfo {
    color: rgb(200, 255, 0);
    background-color:blueviolet;
}

.spans1 {
color: rgb(255, 0, 0);
    background-color:rgb(0, 0, 0);
}

.bruh1 {
     color: rgb(200, 255, 0);
    background-color:rgb(19, 61, 177);
}

.burger3 {

    color: rgb(255, 94, 0);
    background-color:rgb(98, 15, 146);
}

.bruh5{
    color: rgb(98, 15, 146);
}




















a {
    color: #FF0000;
    text-decoration: none;
}

a:link{
    color:#ff0000;

}

a:visited{

    color:#15d66c;
}

a:active{
color:#1100ff;
}

a:hover{

color: #d0fd05;
text-decoration: underline;
}

footer {

background-color:green;

}